/** theme utilis ***/
a:hover {
  color: #e64946;
  text-decoration: underline;
}
/*** header home **/
.header-wrap a:hover{
    text-decoration: none;
}
.logo-title {
    color: #e64946;
}

/*** end theme utils ***/

.jssora11l, .jssora11r, .jssora11ldn, .jssora11rdn {
    position: absolute;
    cursor: pointer;
    display: block;
    background: url(images/a11.png) no-repeat;
    overflow: hidden;
}

.jssora11l {
    background-position: -11px -41px;
}

.jssora11r {
    background-position: -71px -41px;
}

.jssora11l:hover {
    background-position: -131px -41px;
}

.jssora11r:hover {
    background-position: -191px -41px;
}

.jssora11ldn {
    background-position: -251px -41px;
}

.jssora11rdn {
    background-position: -311px -41px;
}

.jssorb01 div, .jssorb01 div:hover, .jssorb01 .av
{
    filter: alpha(opacity=70);
    opacity: .7;
    overflow:hidden;
    cursor: pointer;
    border: #000 1px solid;
}
.jssorb01 div { background-color: gray; }
.jssorb01 div:hover, .jssorb01 .av:hover { background-color: #d3d3d3; }
.jssorb01 .av { background-color: #fff; }
.jssorb01 .dn, .jssorb01 .dn:hover { background-color: #555555; }
.thum-caption{
    /*WIDTH: 100%;*/
    /*HEIGHT: 100%;*/
    color:#fff; 
    /*line-height: 90px; */
    font-size:16px; 
    padding-left:10px;
    padding: 5px 10px;
    margin-right: 60px;

}
.thum-caption h4{
    font-size: 23px; 
    margin: 0 0 5px;
}
.thum-caption a, .thum-caption p{
    color: #fff;
}
.thum-caption p{
    margin: 0;
    opacity: 0.75;
}

/****categories list in home****/
.category-style
{
    float: left;
    width: 45%;
    margin-right: 5%;
    margin-top: 10px;
}

.widget-title, .footer-widget-title {
  margin-bottom: 1.25rem;
  border-bottom: 3px solid #e64946;
  padding-bottom: 3px;
  background-color: #fff;
  font-size: 1.5em;
}

.widget-title a {
    text-decoration: none;
    color: #000;
}

.widget-title a:hover {
      color: #e64946;
}

.widget-title span{
    background-color: #fff;
    color: #000; 
}

/*** primary post ***/
.category-img img
{
    height: 225px;
    vertical-align: bottom;
    width: 100%;
}
.cp-thumb-xl{
  margin-bottom: 10px;
  margin-bottom: .625rem;
}
.cp-widget .mh-excerpt {
  padding-top: 10px;
  padding-top: .625rem;
  overflow: hidden;
}
/*** secondary post****/
.category-secondary-image img
{
    width: 120px;
    height: 67px;
}

.cp-thumb
{
  float: left;
  margin-right: 10px;
  margin-right: .625rem;
}

.cp-data
{
    overflow: hidden;
}

.category-date
{
    font-size: 13px;
    font-size: .8125rem;
    color: #979797;
}

.category-secondary-title
{
    font-weight: 700;
    line-height: 1.3;
    font-size: 11px;
    font-size: .6875rem;
}

.sb-widget .cp-wrap {
  padding: 15px 0;
  padding: .9375rem 0;
  border-bottom: 1px solid #ebebeb;
}

.cp-wrap
{
    padding: .9375rem 0;
    border-bottom: 1px solid #ebebeb;
}

.cp-widget-title {
  font-weight: 700;
  line-height: 1.3;
}

.cp-small .meta {
  font-size: 11px;
  font-size: .80rem;
  color: #979797;
}

/**** top 10 plugin ****/
.post-summary{
  clear: left;
  padding-top: 5px;
}

.boxInline
{
  float: right;
}

.category-footer
{
  float: left;
  width: 15%;
  margin-right: 5%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.category-text-footer
{
  margin-bottom: 1.25rem;
  border-bottom: 3px solid #e64946;
  padding-bottom: 3px;
  font-size: 1.5em;
  text-decoration: none;
}

.text-center
{
  text-align: center;
}

/***** Media Queries *****/
/** smartphones only **/
@media only screen and (max-width: 580px) {
  .category-footer
  {
    float: none;
    width: 100%;
    margin-right: 5%;
    margin-top: 10px;
  }
  .category-style
  {
      float: none;
      width: 100%;
      margin-right: 5%;
      margin-top: 10px;
  }
}
.tptn_counter
{
    color: #767676;
  font-size: 12px;
}
/*footer*/
#footer-menu li{
  list-style: none;  
}
#footer-menu:after{
  clear: both;
}
#footer-menu li .footer-tab{
  margin: 10px 30px;
}
#footer-menu > li > .footer-tab{
  font-size: 18px;
  font-weight: 500;
  border-bottom: 3px solid #e64946;
  margin-bottom: 15px;
}
#footer-menu > li:nth-child(6){
  clear: both;
}
#footer-menu .sub-menu{
  margin-top: 5px;
}
#footer-menu > li{
  width: 20%;
  float: left;
  padding: 10px 0;
}
/*smartphones*/
@media (max-width: 768px ) { 
  #footer-menu > li{
    width: 100%;
    float: none;
  }
}
/*tables*/
@media (min-width: 768px) and (max-width: 992px) {
  #footer-menu > li{
    width: 33%;
  }
  #footer-menu > li:nth-child(6){
    clear: none;
  }
  #footer-menu > li:nth-child(4){
    clear: both;
  }
  #footer-menu > li:nth-child(7){
    clear: both;
  }
}